.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-card {
  border: 1px solid white;
  text-align: center;
  padding: 1.2rem 1rem;
  background-color: #474e5d;
}

.project-card:hover {
  background-color: rgb(29, 27, 27);
}

.project-container2 {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.project-card img {
  width: 100%;
}

.project-title {
  color: white;
  padding: 1rem 0;
}

.description p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  word-wrap: break-word;
}

.pbutton {
  display: block;
  justify-content: space-between;
  background-color: rgb(16, 110, 157);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.ProjectButtons {
  padding: 2.5rem 2;
}

@media screen and (max-width: 740px) {
  .project-container2 {
    max-width: 90%;
    margin: auto;
    /*     display: flex; */
    grid-template-columns: 1fr;
  }
}
